{% extends "layouts/main.njk" %} 
   
{% block head %}
   <link rel="stylesheet" href="/styles/404.css">
{% endblock head %}
  
{% block content %}
   <section class="container">
      <div class="container-404">         
         <p>Chef não encontrada!</p>  
       
         <img src="/assets/404.png" alt="imagem pagina nao encontrada">
         <a href="/">Voltar para home</a>
        
      </div>
   </section>
{% endblock content %}