{% extends "admin/layout.njk" %}

{% block content %}

    <main>
        <form class="details" method="POST" action="/admin/chefs/">

                <div class="subtitulo">
                    <h2>Criando chef</h2>
                    <button type="submit">Salvar chef</button>
                </div>           

                {% include 'admin/chefs/fields.njk' %}

        </form>
    </main>

{% endblock %}

