<div class="item">
        <div>Nome</div>
    <div>
        <input 
            type="text" 
            name="name" 
            value="{{chef.name}}"
        >
    </div>
</div>
</div>

<div class="item">
    <label for="">Avatar</label>
    <div id="photos-upload-chef">
            <p>Enviar Avatar</p>
            <input 
            id="photos-input"
            type="file" 
            name="photos" 
            multiple
            accept="image/*"
            onchange="PhotosUpload.handleFileInput(event)"
            >
        </div>
</div>




























{# <div class="item">
    <div>Nome</div>
    <div>
        <input 
            type="text" 
            name="name" 
            value="{{chef.name}}"
        >
    </div>
</div>

<div class="item">
    <div>Avatar</div>
    <div>
        <div id="files-upload">
            <input 
                id='input-file' 
                type='file' 
                name="photos" 
                accept="image/*" 
                onchange="PhotosUpload.handleFileInput(event)"
            />
            <label class="send-avatar">
                Enviar Avatar
            </label>         
        </div>
    </div>
    
</div>
 #}
