{% extends "admin/layout.njk" %}

{% block content %}

    <main>
        <div class="subtitulo">
                <h2>Chef: {{chef.name}}</h2>
                {# <button type="submit">Editar receita</button> #}
                <a href="/admin/chefs/{{ chef.id }}/editChef" class="button">Editar Chef</a>
        </div>

        <div class="chef_avatar">
            <img src="{{chef.avatar_url}}" alt="Imagem de {{chef.title}}">
            <h2>{{chef.name}}</h2>
            <span class="totalRecipes">{{chef.totalrecipes}} Receitas</span>
        </div>
            <h2 style="color:red">{{msgError}}</h2>
        <h2>Receitas</h2>
        
        <section class="chefs_cards">
            {% if chef.totalrecipes > 0 %}
            {% for recipe in recipes %}
                <div class="card_container">
                       {# <div class="card" id="{{items.indexOf(item)}}">  #}
                    <div class="card__image">
                        <img src="{{recipe.image}}" alt="Imagen de{{recipe.title}}">
                    </div>
                    <div class="card__info">
                        <h2>{{recipe.title}}</h2>
                        <p>{{chef.name}}</p>
                        <a href="/admin/recipes/{{recipe.id}}">Visualizar</a>
                    </div>
                </div>
            {% endfor %}
            {% endif%}
        </section>

        
      
    </main>     
    
{% endblock %}