<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        {% block head %}
            <title>Foodfy</title>
        {% endblock %}
        <link rel="stylesheet" href="/css/admin/admin.css">
    </head>
    <body>
        <header>
            <div class="header">

                <div class="header-content">
                    <div class="logo">
                        <a href="/admin/recipes"><img src="/assets/logoAdm.png" alt="logo Foodfy"></a>
                    </div>
                    <div class="header-infos">
                        <a href="/admin/recipes">RECEITAS</a>
                        <a href="/admin/chefs">CHEFS</a>
                    </div>
                </div>

            </div>
        </header>

        {% block content %}{% endblock %}

        <script src="/scripts/script.js"></script>

    </body>

</html>