@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'; 

* { /* aqui tira toda a margem do titulo */
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

:root {
    --color-font: #111111;
    --color-main-section-one: #FBDFDB;
}

body {
    font-family: 'Roboto', sans-serif;
    width: 940px;
    align-items: center;  
    margin: 0 auto;     
}  

header {
    display: flex;
    position: relative;  
    padding: 30px 0px 30px 0;
}    

.logo {
    margin-right: 122.4px;
 }

.links a {
    margin-right: 30px;
    font-size: 16px;
    line-height: 26px;
    color: var(--color-font);
    text-decoration: none;
}

main {
    max-width: 940px;
    margin: 0 auto;
    /* color: #111111; */
}

.container-banner {
    margin: 0 auto;
    width: 940px;
    height: 366px;
    background-color: var(--color-main-section-one);
    border-radius: 30px;
    border-radius: 30px;
    display: flex;
}

.container-banner
.container-one {
    margin-right: 240px;
}

.container-one h1 {
    padding-left: 60px;
    padding-top: 117px;
    font-size: 32px;
    line-height: 42px;
    color: var(--color-font);
}

.container-one p {
    padding-left: 60px;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
    opacity: 0,7;
    max-width: 316px;
    margin-top: 10px;
}

.chefe img {
    margin-top: 66px;
}

.subtitulo {
    font-size: 24px;
    color: var(--color-font);
    margin-top: 50px;
}

/* =========== CARDS ================= */

.cards 
 {   
    margin-top: 20px;
    display: grid; /* forma dispay */
    grid-template-columns: 1fr 1fr 1fr; /* o "1fr" signica que fez 3 colunas*/
    gap: 20px; /* espaço de card e outro */ 
    margin-bottom: 30px; 
 }
 
 .card__image img {
     width: 300px;
     height: 140px;
     border-radius: 15px;
     border-radius: 15px;    
     cursor: pointer;
 }
 
 .card__image img:hover {
     background-color: white;
     border-radius: 16px;
     transform: scale(1.05);
     transition: transform .2s linear;
 }
 
 .card__info h2 {
     font-size: 18px;
     line-height: 28px;
     margin-top: 20px;
     color: var(--color-font);
 }
 
 .card__info p {
     font-size: 14px;
     line-height: 24px;
     color: #777777;    
 }

 /* =========== PAGE RECIPE =========== */
.recipe-banner {
    text-align: center;  
    margin-bottom: 50px;
}

.recipe-banner img {
    width: 940px;
    height: 280px;
    border-radius: 15px;
    border-radius: 15px;   
}

.recipe-banner h2 {
    padding: 50px 0 4px 0;
    font-size: 36px;
    line-height: 46px;
    color: #111111;  
} 

.recipe-banner span {
    font-size: 20px;
    line-height: 30px;
    color: #777777;
} 

.details {
  display: flex;
  flex-direction: column;
}

.details .row{
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    /* justify-content: baseline; */
    margin: 20px 0;
}

.details .title {
    font-size: 24px;
    line-height: 34px;
    color: var(--color-font);
    margin-right: 8px;
}

.details .hideShow {
    font-size: 12px;
    line-height: 22px;
    color: #999999;
    cursor: pointer;
}

.details .hideShow:hover{
    color: #777777;
}

.details-content ul li {
    font-size: 18px;
    line-height: 28px;
    color: #444444;
    margin-left: 16px;
}

.details-content p {
    font-size: 18px;
    color: #444444;
    line-height: 28px;
    margin: 0;
}

/* =========== PAGE SOBRE =========== */

h3{
    margin-top: 30px;
    font-size: 20px;
}

p {
    /* margin: 20px auto 20px auto; */
    font-family: Roboto-Regular;
    font-size: 18px;
    color: #444444;
    line-height: 28px;
}

footer {
    width: 100%;
    bottom: 0;
    margin-top: 25px;
    background: #EEEEEE;
    height: 62px;
    align-content: center;   
    display: flex;
}

footer p {
    font-size: 14px;
    color: #999999;
    text-align: center;
    margin: auto; 

}  

/* Filter */

header form {
    position: absolute;
    right: 0;
    align-items: center;
}

header form button {
    padding: 8px 20px;
    /* margin-right: 30px;  */
    font-size: 16px;
    width: 91px;
    height: 37px;
    background:#6558C3 100%;
    color: #FFFFFF;
    border-radius: 4px;    
}

header form input {
    background: #FFFFFF;
    width: 246px;
    height: 37px;
    margin-left: auto;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    border-radius: 4px;  
    padding: 10px 15px;
    font-family: Roboto-Regular;
    font-size: 14px;
    color: #999999;     
}


/* CHEFS */

.cards_chefs {
    margin-top: 20px;
    display: grid; /* forma dispay */
    grid-template-columns: 1fr 1fr 1fr 1fr; /* o "1fr" signica que fez 3 colunas*/
    gap: 20px; /* espaço de card e outro */  
 }

 .chef_container {
     display: flex;
 }

 .chef_image {
    margin-right: 20px;
 }

.chef_image img {
     width: 64px;
     height: 64px;
     border-radius: 50%;
     cursor: pointer;  
 }
 
.chef_info h2 {
     font-size: 18px;
     line-height: 28px;
     /* margin-top: 20px; */
     color: var(--color-font);
 }
 
 
/* pagination */

.pagination {
    /* width: 940px; */
    text-align: center;
    /* margin: 0; */
}

.pagination a,
.pagination span {
    color: var(--color-font);
    text-decoration: none;
    margin-right: 16px;
}

.pagination a:hover {
    filter: brightness(0.3);
    border-bottom: var(--color-font);
}

