<header>
    <div class="header">

        <div class="header-content">
            <div class="logo">
                <a href="/admin/recipes"><img src="/assets/logoAdm.png" alt="logo Foodfy"></a>
            </div>
            <div class="header-infos">
                <a href="/admin/recipes">Receitas</a>
                <a href="/admin/chefs">Chefes</a>
                <a href="/admin/users">Usuário</a>
            </div>
        </div>

    </div>
</header>