{% extends "admin/layout.njk" %}

{% block content %}

    <main>
        <form class="details" method="POST" action="/admin/recipes/">

                <div class="subtitulo">
                    <h2>Criando receita</h2>
                    <button type="submit">Salvar receita</button>
                </div>           

                {% include 'admin/recipes/fields.njk' %}

        </form>
    </main>
     <script src="/scripts/scriptAddrecipes.js"></script>
{% endblock %}

