{% extends "admin/recipes/layout.njk" %}


{% block content %}

    <main>
            <form  class="details" method="POST" action="/admin/recipes?_method=PUT">

                <div class="subtitulo">
                    <div>
                        <h2>Editar receita</h2>
                    </div>
                    <div>
                        <button type="submit">Salvar receita</button>
                        <button class="btnDele" form="form-delete" type="submit">Deletar</button>  
                    </div>  
                </div>   

                {% include 'admin/recipes/fields.njk' %}

                <input 
                    type="hidden" 
                    name="id" 
                    value="{{ items.id }}"
                >
            </form>

            <form id="form-delete" action="/admin/recipes?_method=DELETE" method="post">
                <input type="hidden" name="id" value="{{ items.id }}"> 
            </form>           

    </main>

{% endblock %}

