{% extends "admin/layout.njk" %}

{% block content %}

    <main>
        <div class="subtitulo">
                {# <button type="submit">Editar receita</button> #}
                <a href="/admin/recipes/{{ items.id }}/editRecipe" class="button">Editar receita</a>
        </div>
            {# aqui tem que fazer um for #}
        <div class="recipe-banner">
            <img src="{{items.files}}" alt="Imagem de {{files[0].name}}">
            <h2>{{items.title}}</h2>
            <span>{{items.author}}</span>
        </div>

        <div class="details">
            <div class="row">
                <h2 class="title">Ingredientes</h2>
                <a class="hideShow">ESCONDER</a>
            </div>

            <div class="details-content">
                <ul class="ingredients">
                    {% for item in items.ingredients %}
                    {% if item !='' %}
                        <li>{{ item }}</li>
                    {%endif%}
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="details">
            <div class="row">
                <h2 class="title">Modo de preparo</h2>
                <a class="hideShow">ESCONDER</a>
            </div>

            <div class="details-content">
                <ul class="preparations">
                    {% for item in items.preparation %}
                    {% if item !='' %}
                        <li>{{ item }}</li>
                    {%endif%}
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="details">
            <div class="row">
                <h2 class="title">Informações adicionais</h2>
                <a class="hideShow">ESCONDER</a>
            </div>

            <div class="details-content">
                <p>{{ items.information }}</p>
            </div>
        </div>
    </main>
    
{% endblock %}